@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    padding: 0px 140px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__brand{
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}

.navbar__menus{
    display: flex;
    list-style: none;
}

.navbar__menu{
    margin: 0 27px;
    cursor: pointer;
    padding: 32px 0;
    border: 3px solid transparent;
    transition: all ease-in-out .3s;
    font-size: 16px;
}

.navbar__menu_active{
    margin: 0 27px;
    cursor: pointer;
    padding: 32px 0;
    border-bottom: 3px solid var(--yellow-color);
    transition: all ease-in-out .3s;
}

.navbar__menu:hover{
    border-bottom: 3px solid var(--yellow-color);
}

.navbar__actions{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.account{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid var(--navy-color);
}

.navbar__toggel, .navbar__menu_closed{
    display: none;
}

@media only screen and (max-width: 1024px) {
    .navbar{
        padding: 0 48px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar{
        padding: 16px 32px;
    }

    .navbar__brand{
        font-size: 18px;
    }

    .navbar__menus{
        position: absolute;
        top: -1000px;
        right: 0;
        padding: 8px 16px;
        height: 100vh;
        width: 100%;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transition: all ease-in-out 0.5s;
    }

    .navbar__menus_active{
        top: 0;
    }

    .navbar__menu{
        padding: 16px 24px;
        font-size: 14px;
        list-style: none;
    }

    .navbar__toggel{
        display: block;
    }

    .navbar__menu_closed{
        display: block;
        margin-top: 8px;
        animation: spin;
    }
    
    .navbar__actions{
        gap: 16px;
    }

    .navbar__action{
        width: 20px;
        height: 20px;
    }
}

