@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

:root{
  --navy-color: #00203F;
  --yellow-color: #F8CF65;
  --red-color: #F54545;
  --blue-color: #1F72BE;
  --yellow-2-color: #F4DE13;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}